body {
    font-family: $font-primary;
}

.container {
    margin: 0 auto;
}

a {
    color: getColour(textColourPrimary);
    text-decoration: none;

    &:hover {
        color: getColour(secondaryColour);
    }
}

h1 {
    margin-top: 2rem;
}