.avatar__img__border {
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    transform: rotate(25deg);
    overflow: hidden;
}

.avatar__img__small {
    width: 2.5rem;
    transform: rotate(-25deg);
    margin-top: -5px;
    margin-left: -5px;
}