.modal-content {
    background-color: getColour(textColourPrimary);
    color: getColour(textColourSecondary);
    border-radius: 5px;

    label {
        font-family: $font-heading;
        font-size: 1.3rem;
    }

    .modal-body,
    .modal-footer {
        display: flex;
        justify-content: center;
    }

    .form-text {
        color: getColour(textColourSecondary);
    }
}