.navbar {
    background: getColour(navColour);
    position: sticky;

    .navLinks {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .avatar__img__border {
        cursor: pointer;
    }
}

.nav__icons__container {
    width: 30vh;
    display: flex;
    justify-content: space-around;

    .avatar__img__border:hover {
        box-shadow: 3px 3px 3px getColour(secondaryColour);
    }
}

.active {
    color: getColour(primaryColour);
}

.activeAvatar {
    box-shadow: 3px 3px 3px getColour(primaryColour);
}

.icon__logoutBtn:hover {
    cursor: pointer;
    color: getColour(secondaryColour);
}

.nav__icon {
    font-size: 2rem;
}

@media (min-width: 576px) {
    .nav__icons__container {
        width: 60vh;
    }
}