.posts__container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-img-top {
    max-height: 50vh;
    object-fit: cover;
}

.postCard {
    border: none;
    background-color: getColour(cardBackgroundColour);
    box-shadow: 10px 10px 10px getColour(shadowColour);
}

.postCard__profileContainer {
    display: flex;
    gap: 2rem;

    .avatar__img__border {
        border: 1px solid getColour(textColourPrimary)
    }
}

.postCard__dateContainer {
    margin-top: 1rem;
}

.card-text {
    margin-bottom: 0px;
}

.postCard__seeMore {
    font-size: 2rem;
    font-weight: bold;
    text-align: end;
}

.postCard__interactionContainer {
    display: flex;
    justify-content: space-between;

    .postCard__reactionsContainer,
    .postCard__commentsContainer {
        display: flex;
        gap: 0.2rem;
    }

    .postCard__numberOfReactions,
    .postCard__numberOfComments {
        font-family: $font-logo;
        font-weight: 400;
        font-style: normal;
        font-size: 1.2rem;
        color: getColour(primaryColour);
    }
}

@media (min-width: 768px) {
    .postCard__dateContainer {
        display: flex;
        justify-content: space-between;
    }
}